@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
