@import "tailwindcss";

@layer base {
  body {
    @apply min-h-screen;
    background-image: url('/assets/background.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
  }
}
